@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabriela&family=Grenze+Gotisch:wght@600&display=swap');

body{
    margin: 0;
    width: 100%;
}
header{
    margin: 0;
    margin-left: 15px;
    width: 100%;
}
.siteheading{
    height: 150px;
    background: #AC3127;
    font-family: "Grenze Gotisch", sans-serif; /*"Luminari", sans-serif;*/
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    padding-top: 45px;
    color: #fafafa;
    font-style: normal;
    letter-spacing: 2px;
}

/*Style for information message*/
.Info-message {
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    text-align: center;
    letter-spacing:  3px;
    font-weight: 400;
    color: #7171be;
    border: 1px, solid;
}
.info-style{
    color: rgb(231, 191, 10);
    font-size: 25px;
}
.Menu{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}
.nav-bar{
    padding: 10px;
    text-align: right;
    font-size: 20px;    
}
.nav-bar a:hover{
    text-decoration: underline;
    color: #000000;
}
.wishlist-color{
    color: red;
    font-size: 22px;
}
.home-color{
    color:darkcyan;
}
#CountryThumbnailDiv{
   display:block;
}
#divSelect{
    display:none;
    text-align: center;
}
.wishlist_item{
    padding: 10px;
}
/***** styles for the footer *********/
footer{
    width: 100%;
    margin: 2px;
}
footer a:hover{
    text-decoration: none;
    color: #fafafafa;
}
.siteFooter{
    background: #AC3127;
    font-family: "Roboto", sans-serif;
    font-weight: 400; 
    font-size: 15px;
    color: #000000;    
}
.footer-text-normal{
    margin: 5px;
    padding: 5px;
    text-emphasis: none;
    text-align: left;
}
.footer-text-upper{
    padding: 10px 0 0 0;
    margin: 0;
    text-transform: uppercase;
    text-decoration: underline;
    text-align: left;
}
.footer-icon-size{
    font-size: 25px;
}
#contact-us{
    padding:35px;
}
#contact-us a {
    color: #000000;
    background:transparent;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}
#contact-us a:hover{
    color: #fafafa;
}
.social-links {
    padding: 35px 38px;
    padding-bottom: 10px;
    text-align: center;
}
.social-links li a i{
    padding: 8px 10px;
    text-align: center;
    color: #000000;
    background:transparent;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}
.social-links li a i:hover {
    color: #FAFAFA;
}
/******** styles for section element *************/
#map{
    height: 100%;
    margin: 0;
    padding: 0;
}
.map-container{
    height: 600px;
    width: 770x;
}
.site-intro{
    padding:20px;
    margin: 20px 0px;
    font-family: "Crimson Text", sans-serif; /* */
    font-size: 22px;
    letter-spacing: 2px;
    line-height: 26px;
    height: 88%;
    background: #fcfaf0;
    box-shadow: 0 0 20px rgb(177, 176, 176);
}
.pic-nav{
    font-size: 40px;
    text-align: center;
    padding: 110px 10px;
    width: 20%;
}
.pic-display{
    margin: 20px;
    margin-left: 50px;
    align-items: center;
    width: 80%;
    height: 100%;
    box-align: center;
    box-shadow: 0 0 30px rgb(133, 131, 131);
}
#previous-pic{
    margin: 0 20px;
    /*padding: 0 20px;*/
    text-align: right;
    font-size: 35px;
}
#next-pic{
    margin: 0 20px;
    /*padding: 0 20px;*/
    text-align: left;
    font-size: 35px;
}
.gallery-search{
    text-align: center;
}

/************ Styles for countries thumbnail list **************/
.country-list-container{
    background-color: #575454;
    text-align: center;
    padding: 10px 0 0 10px;
}
.circleContainer1{ 
    width: 102px;
    height: 102px;
    border-radius: 50%;
}
.countryThumbnail a img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-style: solid;
    border-color:whitesmoke;
    border-width: 1px;
    margin: 20px;
}
.countryThumbnail a img:hover{
    -webkit-box-shadow: 0px 0px 8px 8px white;
    -moz-box-shadow: 0px 0px 8px 8px light white;
    box-shadow: 0px 0px 8px 8px light white;
}
.countryThumbnail a img::after{
    border-width: 3px;
}
/******************* Thumbnail Countryname style ***********************/

/****** Countryname text ***********/
.tooltiptext {
  visibility: hidden;
  width: 90px;
  background-color: rgb(251, 253, 241);
  color: #000;
  text-align: center;
  padding: 2px 0;
  border-radius: 2px;
  /****** Position the Countryname text **************/
  bottom: 2%;
  position: absolute;
  z-index: 1;
  margin-left: -110px;
}

/***** Show the countryname text when you mouse over the country thumbnail */
.countryThumbnail:hover .tooltiptext {
  visibility: visible;
}
/******************* end Countryname Display *************************/

/********************* Carousel Styles ********************/
/* alignment of Carousel*/
.carousel-center{
    text-align: center;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color:black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev{
    left: 0;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.2);
}
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  left: 0;
}
.numbertext {
  color: #000;
  background-color: #f2f2f2;
  font-size: 12px;
  padding: 8px;
  position: absolute;
  top: 0;
  left: 0;
}
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
/****************** End Carousel Styles ******************/

/****************** Styles for Wishlist section on Index page ******************/
.wishlist{
    font-size: 20px;
    color: red;
}
.SearchResult{
    margin: 0, auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px, solid, gray;
    box-shadow: 0 0 20px rgb(177, 176, 176);
}
.display{ 
    height: 600px; 
    overflow: auto;   
}
.clear_Wishlist{
    text-align: center;
}

/*************** Styles for Wishlist Page *****************/
.heading-wishlist{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 30px;
    text-align: left;
    width: 78%;
    padding: 15px 20px;
    margin: auto;
}
.heading-wishlist img{
    width: 75px;
    height: 40px;
}
input:focus::-webkit-input-placeholder {
    color: transparent;
}
/* loader styles on send email */
.button-loader {
  border: 2px solid #3498db;
  border-radius: 50%;
  border-top: 2px solid #f3f3f3;
  width: 15px;
  height: 15px;
  display: none;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.row-position{ 
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 15px;
    text-align: left;
    width: 78%;
    background-color: white;
    box-shadow: 0 0 8px rgb(177, 176, 176);
    padding: 15px 20px;
    margin: auto;
    margin-top:24.5px;
}
.icon-position{
    font-size: 20px;
    text-align: center;
    margin-left: 20px; 
    padding-left: 20px;
}
button{
    border: none;
    border-radius: 10px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
.button-container{
    text-align: center;
}
#btnWishlist{
    color: white;
    background-color: #1685AD;
    padding:12px 70px;
}
.button-container a{
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: black;
    text-decoration: none;
}
.button-container a:hover{
    text-decoration: underline;
}
.send-mail-section{
    border: 20px;
    padding: 30px;
    background-color: #CCAF79;
    box-shadow: 0 0 20px rgb(204, 175, 121);
    text-align: center;
}
.send-email{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    padding: 20, 0;
    display:inline-block;    

}
.send-email i{
    font-size: 2em;  
}    
.send-email #email{
    width: 180px;
    padding: 5px;
    height: 32px;
    color: rgba(104, 81, 81, 0.719);
    border-radius: 5%;
}
.send-email #btnSendEmal{
    background-color: #5C500F;
    color: white;   
    padding:6px 44px;
    height: 35px;
}
/**************End of Styles for Wishlist Page *****************/

/************** Styles for Error Page *******************/
.home{
    font-size: 40px;
    color: #9A7206;
}
.nav-bar_error_page{
    padding: 20px;
    text-align: right;
}
.error-pic{
    background-image: url('/assets/images/oops.png');
    height: 300px;
    width:310px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
    background-size: cover;
}
.error-text{
    margin: 20px;
    padding: 20px;
    line-height: 30px; 
}
.error-text h2{
    font-family: "Oswald", sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}
.error-text p{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    padding: 5px 35px;
}
#myWish{
    border: none;
    font-size: 20px;
}
#myWish:active{
    border:none;
    text-decoration: none;
}

/******* Media query for heading *********/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) 
  {
        #divSelect{
            display:block;
        }
        #CountryThumbnailDiv{
            display:none;
        }
        .siteheading{
            height: 100px;
            background: #AC3127;
            font-family: "Grenze Gotisch", sans-serif; 
            font-weight: 400;
            font-size: 20px;
            text-align: center;
            padding-top: 40px;
            color: #fafafa;
            font-style: normal;
            letter-spacing: 1px;
        }
        .site-intro{
            font-size: 18px;
            letter-spacing: 1px;
            line-height: 20px;
        }
        #searchGallery {
            width: 90%;
        }
        h5{
            text-align: center;
        }
        .siteFooter{
            background: #AC3127;
            font-family: "Roboto", sans-serif;
            font-weight: 400; 
            font-size: 15px;
            color: #000000;    
        }
        .site-intro{
            margin: 5px;
        }
        .pic-display{
            margin: 10px;
            padding: 10px;
            width: 95%;
        }
        .gallery_pic{
            width: 95%;
            text-align: center;  
        }
        .display{ 
            height: 300px;
            padding:20px; 
            overflow: auto;   
            width: 98%;
        }
        .display-gap{
            padding-top: 50px;
        }
                
        .row-position{ 
            padding: 10px;
            width: 95%;
        }
        .map-container{
            height: 400px;
            width: 100%;
        }
        .SearchResult{
            margin: 0, auto;
            border: 1px, solid, gray;
            box-shadow: 0 0 20px rgb(177, 176, 176);
        }
        .row-map{
            margin-left: 0;
            margin-right:0;
        }
        .send-email #email{
            width: 50%;
            padding: 8px 12px;
        }
        .button-loader {
            border: 2px solid #f3f3f3;
            border-radius: 50%;
            border-top: 2px solid #3498db;
            width: 10px;
            height: 10px;
            display: none;
            -webkit-animation: spin 2s linear infinite; /* Safari */
            animation: spin 2s linear infinite;
        }
        #btnSendEmal{
            background-color: #5C500F;
            color: white;   
            padding:15px 44px;   
        }
        .heading-wishlist img{
            width: 50px;
            height: 30px;
        }

    }