
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

body{
    margin: 0;
    width: 100%;
}

header{
    margin: 0;
    margin-left: 15px;
    width: 100%;
}
.siteheading{
    height: 140px;
    background: #AC3127;
    font-family: "Luminari", sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    padding-top: 45px;
    color: #fafafa;
    font-style: normal;
    letter-spacing: 2px;
}


.nav-bar{
   /* padding: 10px;*/
    text-align: right;
    font-size: 20px;    
}
.nav-bar a:hover{
    text-decoration: underline;
    color: #000000;
}
.wishlist-color{
    color: red;
}
.home-color{
    color:darkcyan;
}


/***** styles for the footer *********/
/*.row {
    margin-right: -20px;
    margin-left: -20px;
}*/

footer{
    width: 100%;
    margin: 2px;
}
footer a:hover{
    text-decoration: none;
    color: #fafafafa;
}
.siteFooter{
    background: #AC3127;
    font-family: "Roboto", sans-serif;
    font-weight: 400; 
    font-size: 15px;
    color: #000000;    
}
.footer-text-normal{
    margin: 5px;
    padding: 5px;
    text-emphasis: none;
    text-align: left;
}
.footer-text-upper{
    padding: 10px 0 0 0;
    margin: 0;
    text-transform: uppercase;
    text-decoration: underline;
    text-align: left;
}

.footer-icon-size{
    font-size: 25px;
}
#contact-us{
    padding:35px;
}
#contact-us a {
    color: #000000;
    background:transparent;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}
#contact-us a:hover{
    color: #fafafa;
}

.social-links {
    padding: 35px 38px;
    padding-bottom: 10px;
    text-align: center;
}
.social-links li a i{
    padding: 8px 10px;
    text-align: center;
    color: #000000;
    background:transparent;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}
.social-links li a i:hover {
    color: #FAFAFA;
}
/*.copyright{
    padding: 10px;
    text-align: right;
}*/
/*------------------------styles for section element---*/

.site-intro{
    padding:20px;
    margin: 20px 0px;
    font-family: "Crimson Text", sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    line-height: 30px;
    background: #fcfaf0;
    box-shadow: 0 0 20px rgb(177, 176, 176);
}

/*.pic-container{
    border: 1px, solid;
    width: 50%;
    height: 75%;
}*/

.pic-nav{
    font-size: 40px;
    text-align: center;
    padding: 110px 10px;
    width: 20%;
}

.pic-display{
    margin: 20px;
    padding: 10px;
    text-align: center;
}

#image-div img{
    /*width: 430px;
    height:280px;*/
    width: 77%;
    height: 100%;
    box-shadow: 0 0 30px rgb(133, 131, 131);
}

#previous-pic{
    margin: 0 20px;
    /*padding: 0 20px;*/
    text-align: right;
    font-size: 35px;
}
#next-pic{
    margin: 0 20px;
    /*padding: 0 20px;*/
    text-align: left;
    font-size: 35px;
}
.gallery-search{
    text-align: center;
}
/*.display-search-icon{
    background-color: blue;
    background-image: url('../images/searchicon.png');
    border-radius: 50%;
}*/
#searchGallery {
  width: 40%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
  background-color: white;
  background-image: url('/assets/images/searchicon.png');
  background-position: 1px 1px; 
  background-repeat:  no-repeat;
  background-size: contain;
  padding: 12px 20px 12px 45px;
}
/* Media query for heading */

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .siteheading{
        height: 100px;
        background: #AC3127;
        font-family: "Luminari", sans-serif;
        font-weight: 400;
        font-size: 20px;
        text-align: center;
        padding-top: 40px;
        color: #fafafa;
        font-style: normal;
        letter-spacing: 1px;
    }
    .site-intro{
        font-size: 18px;
        letter-spacing: 1px;
        line-height: 20px;
    }
    .siteFooter{
        background: #AC3127;
        font-family: "Roboto", sans-serif;
        font-weight: 400; 
        font-size: 15px;
        color: #000000;    
    }
    .site-intro{
        margin: 5px;
    }
    .pic-display{
        margin: 0;
    }
    #image-div img{
        width: 98%;
        height: 88%;
    }
}
